<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>jscam test</title>
	<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
	</script>
	<script type="text/javascript" src="/static/js/lib/jscam/jquery.webcam.js"></script>

	<script type="text/javascript" charset="utf-8">

	var countdown = 2;

	var canvas;
	var pos = 0, ctx = null, image = [];
	var rowCount = 0;

	var emojiId = <%=emojiId%>;

	$(document).ready(function() {
		console.log("ready!");
		
		$("#select").click(function() {
			upload(image);
			setMode("CAMERA");
		});
		
		$("#reject").click(function() {
			setMode("CAMERA");
		});
		
		setMode("CAMERA");

		$("#video").webcam({
			width: 320,
			height: 240,
			mode: "callback",
			swffile: "/static/js/lib/jscam/jscam.swf",
			onTick: function() {
				console.log("tick!");
				highlight(countdown);
				countdown--;
			},
			onSave: function(data) {
				var col = data.split(";");
				var img = image;
				for(var i = 40; i < 280; i++) {
					// first check and see if we're within the circle.
					// if we aren't, set it to white + full alpha
					
					var x = i;
					var y = rowCount;
					var alpha = 0xff;
					var distance = Math.sqrt(Math.pow(x-160, 2)+Math.pow(y-120, 2));
					if(distance>120.5) {
						alpha = 0x00;
					} else if(distance>119.5) {
						alpha = 0x80;
					}
					
					var tmp = parseInt(col[i]);
					img.data[pos + 0] = (tmp >> 16) & 0xff;
					img.data[pos + 1] = (tmp >> 8) & 0xff;
					img.data[pos + 2] = tmp & 0xff;
					img.data[pos + 3] = alpha;
					pos+= 4;
				}

				if (pos >= 4 * 240 * 240) {
					ctx.putImageData(img, 0, 0);
					pos = 0;
					
					// be done!
					return;
				}
				
				rowCount++;
			},
			onCapture: function() {
				jQuery("#flash").css("display", "block");
				jQuery("#flash").fadeOut("fast", function () {
					jQuery("#flash").css("opacity", 1);
				});
				console.log("IN ON CAPTURE");
				canvas = document.getElementById("image");
				canvas.setAttribute('width', 240);
				canvas.setAttribute('height', 240);
				ctx = canvas.getContext("2d");
				image = ctx.getImageData(0, 0, 240, 240);
				rowCount = 0;
				
				setMode("REVIEW");
				webcam.save();
			},
			debug: function(type, string) {console.log("debug: " + type + "; " + string);},
			onLoad: function() {
				console.log("load");
			}
		});

		$("#capture").click(function() {
			// show the countdown spans
			setMode("COUNTDOWN");
			window.webcam.capture(2);
			highlight(3);
			countdown = 2;
		});

	});
	
	function upload(image) {
		$.post("/camera/", {"image": canvas.toDataURL("image/png"),
		"emojiId":emojiId}, function(data) {
			console.log("server response: " + data);
		});
	}
	
	function highlight(num) {
		$("#countdown span").css("opacity", 0.5);
		$("#count" + num).css("opacity", 1.0);
	}

	function setMode(mode) {
		
		console.log("SETTING MODE: "  + mode);
		
		switch(mode) {
			case "CAMERA":
				// show #video
				$("#image").hide();
				$("#image-background").hide();
				
				
				$("#camera").show();
				$("#countdown").hide();
				$("#review").hide();
				break;
			case "COUNTDOWN":
				// show #video
				$("#image").hide();
				$("#image-background").hide();

				$("#camera").hide();
				$("#countdown").show();
				$("#review").hide();
				break;
			case "REVIEW":
				$("#image").show();
				$("#image-background").show();

				$("#camera").hide();
				$("#countdown").hide();
				$("#review").show();
				break;
		}
	}

	</script>

	<style type="text/css" media="screen">

	body {
		margin: 0px;
		font-family: Helvetica;
	}

	#camera {

	}

	#status {
		width: 100%;
		background-color: red;
		padding: 10px;
		text-align: center;
	}

	#status span {
		color: white;
		font-size: 2em;
		font-weight: bold;
		margin-right: 10px;
		opacity: 0.5;
	}

	#capture {
		background-color: #fff;
		font-size: 2em;
		width: 50px;
		height: 50px;
		border-radius: 25px;

		opacity: 0.7;
		margin-left: auto;
		margin-right: auto;
	}

	#flash {
		position:fixed;
		top:0px;
		left:0px;
		z-index:5000;
		width:100%;
		height:100%;
		background-color:#FFCB3A;
		display:none;
	}

	#select, #reject {
		float: left;
		font-weight: 2em;
		color: white;
	}

	.clear {
		clear: both;
	}
	
	#camera-container {
		position: relative;
		
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 320px;
		height: 240px;
	}
	
	#image {
		position: absolute;
		width: 240px;
		height: 240px;
		
		top: 0px;
		left: 40px;
		
		z-index: 50;
	}
	
	#image-background {
		position: absolute;
		top: 0px;
		left: 0px;
		
		background-color: white;
		width: 100%;
		height: 100%;
		z-index: 49;
	}

	</style>
</head>
<body id="index" onload="">
	<div id="flash"></div>
	<div id="camera-container">
		<div id="video"></div>
		<canvas id="image"></canvas>
		<div id="image-background"></div>
	</div>
	<div id="status">
		<div id="countdown">
		<span id="count3">3</span>
		<span id="count2">2</span>
		<span id="count1">1</span>
		</div>
		
		<div id="camera">
		<div id="capture">C</div>
		</div>
		
		<div id="review">
		<div id="select">SELECT</div>
		<div id="reject">REJECT</div>
		</div>

		<br class="clear">
	</div>


</body>
</html>