<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>jscam test</title>
	<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
	</script>
	<script type="text/javascript" src="/static/js/lib/jscam/jquery.webcam.js"></script>
	
	<script type="text/javascript" charset="utf-8">
		
		$(document).ready(function() {
			console.log("ready!");
			
			
			$("#camera").webcam({
				width: 320,
				height: 240,
				mode: "callback",
				swffile: "/static/js/lib/jscam/jscam.swf",
				onTick: function() {console.log("tick");},
		        onSave: function() {console.log("save");},
		        onCapture: function() {console.log("capture");},
		        debug: function(type, string) {console.log("debug: " + type + "; " + string);},
				onLoad: function() {
					console.log("load");
				}
			});
		});
	</script>
</head>
<body id="index" onload="">

<div id="camera"></div>

</body>
</html>