<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>jscam test</title>
	<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
	</script>
	<script type="text/javascript" src="/static/js/lib/jscam/jquery.webcam.js"></script>
	
	<script type="text/javascript" charset="utf-8">
		
		var countdown = 2;
		
		$(document).ready(function() {
			console.log("ready!");
			
			$("#countdown span").hide();
			
			$("#camera").webcam({
				width: 320,
				height: 240,
				mode: "callback",
				swffile: "/static/js/lib/jscam/jscam.swf",
				onTick: function() {
					console.log("tick!");
					highlight(countdown);
					countdown--;
				},
		        onSave: function() {
					console.log("save");
				},
		        onCapture: function() {
					$("#countdown span").hide();
				},
		        debug: function(type, string) {console.log("debug: " + type + "; " + string);},
				onLoad: function() {
					console.log("load");
				}
			});
			
			$("#capture").click(function() {
				// show the countdown spans
				$("#countdown span").show(250, function() {
					highlight(3);
					window.webcam.capture(2);
					countdown = 2;
				});
			});
			
		});
		
		function highlight(num) {
			$("#countdown span").css("opacity", 0.5);
			$("#count" + num).css("opacity", 1.0);
		}
		
	</script>
	
	<style type="text/css" media="screen">
		
		body {
			margin: 0px;
			font-family: Helvetica;
		}
		
		#camera {
			
		}
		
		#countdown {
			width: 100%;
			background-color: red;
			padding: 10px;
			text-align: center;
		}
		
		#countdown span {
			color: white;
			font-size: 2em;
			font-weight: bold;
			margin-right: 10px;
			opacity: 0.5;
		}
		
		#capture {
			background-color: #fff;
			font-size: 2em;
			width: 50px;
			height: 50px;
			border-radius: 25px;
			
			opacity: 0.7;
			margin-left: auto;
			margin-right: auto;
		}
		
		.clear {
			clear: both;
		}

	</style>
</head>
<body id="index" onload="">

<div id="camera"></div>
<div id="countdown">
<span id="count3">3</span>
<span id="count2">2</span>
<span id="count1">1</span>
<div id="capture">C</div>
<br class="clear">
</div>


</body>
</html>