<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>delete</title>
	
</head>
<body id="delete" onload="">
<form action="delete" method="post" accept-charset="utf-8">
	
	<label for="image_id">filename (w/out .png)</label><input type="text" name="filename" value="" id="filename">
	
	<label for="password">password</label><input type="text" name="password" value="" id="password">
	
	<p><input type="submit" value="Delete &rarr;"></p>
</form>
</body>
</html>
