<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>me-moji</title>
	<script type="text/javascript" charset="utf-8" src="/static/js/lib/jquery-1.7.2.min.js">
	</script>
	<script type="text/javascript" src="/static/js/lib/jscam/jquery.webcam.js"></script>

	<script type="text/javascript" src="/static/js/memoji.js"></script>
	
	<script type="text/javascript" charset="utf-8">
		
		var emojiName = '<%=emojiName%>';
		var initialCamera = <%=camera%>;
		var initialFocus = '<%=initialFocus%>';
		
	</script>
	
	<link rel="stylesheet" href="/static/css/memoji.css" type="text/css" media="screen" charset="utf-8">

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32389245-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
</script>
</head>
<body id="index" onload="">
	<div id="fb-root"></div>

<div id="background"></div>
<div id="flash"></div>

<div id="container">

	<div id="focus">
		<img class="close-button" src="/static/img/Xemoji.png">
		<img class="photo-mask circle" src="/static/img/whitemask_ring15.png">
		<img class="emoji-photo" src="">
		<div id="focus-footer"></div>
	</div>

<div id="gutter">
<img id="logo" src="/static/img/logo.png">
<img class="emoji" src="/static/img/emoji/1.png">
<img class="emoji" src="/static/img/emoji/2.png">
<img class="emoji" src="/static/img/emoji/3.png">
<img class="emoji" src="/static/img/emoji/4.png">
<img class="emoji" src="/static/img/emoji/5.png">
<img class="emoji" src="/static/img/emoji/6.png">
<img class="emoji" src="/static/img/emoji/7.png">
<img class="emoji" src="/static/img/emoji/8.png">
<img class="emoji" src="/static/img/emoji/9.png">
<img class="emoji" src="/static/img/emoji/10.png">
<img class="emoji" src="/static/img/emoji/11.png">
<img class="emoji" src="/static/img/emoji/12.png">
<img class="emoji" src="/static/img/emoji/13.png">
<img class="emoji" src="/static/img/emoji/14.png">
<img class="emoji" src="/static/img/emoji/15.png">
<img class="emoji" src="/static/img/emoji/16.png">
<img class="emoji" src="/static/img/emoji/17.png">
<img class="emoji" src="/static/img/emoji/18.png">
<img class="emoji" src="/static/img/emoji/19.png">
</div>
<div id="content">

<div id="photobooth">
	<img class="close-button" src="/static/img/Xemoji.png">

	<div id="camera-container">
		<div id="video"></div>
		<canvas id="image"></canvas>
		<div id="image-background"></div>
		<img id="emoji-example" src="/static/img/emoji/1.png">
		<img id="mask" src="/static/img/whitemask.png">
	</div>

	<div id="status">
		<div id="countdown">
		<img id="count3" src="/static/img/3white.png">
		<img id="count2" src="/static/img/2white.png">
		<img id="count1" src="/static/img/1white.png">
		</div>
	
		<div id="camera">
		<img id="capture" src="/static/img/camera.png">
		</div>
	
		<div id="review">
		<img id="select" src="/static/img/yes.png">
		<img id="reject" src="/static/img/no.png">
		</div>

		<br class="clear">
	</div>
	
	<div id="session-photos">
	<img class="emoji slot0" src="/static/img/emoji/1.png">
	<img class="emoji slot1" src="/static/img/emoji/2.png">
	<img class="emoji slot2" src="/static/img/emoji/3.png">
	<img class="emoji slot3" src="/static/img/emoji/4.png">
	<img class="emoji slot4" src="/static/img/emoji/5.png">
	<img class="emoji slot5" src="/static/img/emoji/6.png">
	<img class="emoji slot6" src="/static/img/emoji/7.png">
	<img class="emoji slot7" src="/static/img/emoji/8.png">
	<img class="emoji slot8" src="/static/img/emoji/9.png">
	<img class="emoji slot9" src="/static/img/emoji/10.png">
	<img class="emoji slot10" src="/static/img/emoji/11.png">
	<img class="emoji slot11" src="/static/img/emoji/12.png">
	<img class="emoji slot12" src="/static/img/emoji/13.png">
	<img class="emoji slot13" src="/static/img/emoji/14.png">
	<img class="emoji slot14" src="/static/img/emoji/15.png">
	<img class="emoji slot15" src="/static/img/emoji/16.png">
	<img class="emoji slot16" src="/static/img/emoji/17.png">
	<img class="emoji slot17" src="/static/img/emoji/18.png">
	<img class="emoji slot18" src="/static/img/emoji/19.png">
	</div>
</div>

<ul id="all-photos">
<li class="first"><img id="add-photo" class="circle" src="/static/img/silhouette.png"></li>
</ul>

<div id="about">
<a href="mailto:ask.memoji@gmail.com"><img src="/static/img/about.png"></a>
</div>

<div id="about-button">
<img src="/static/img/lightbulb.png">
</div>

</div>

</div>

</body>
</html>