<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>me-moji</title>
	<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
	</script>
	<script type="text/javascript" src="/static/js/lib/jscam/jquery.webcam.js"></script>

	<script type="text/javascript" src="/static/js/memoji.js"></script>
	
	<link rel="stylesheet" href="/static/css/memoji.css" type="text/css" media="screen" charset="utf-8">
	
</head>
<body id="index" onload="">
<div id="flash"></div>

<div id="container">

<div id="gutter">
<img id="logo" src="/static/img/logo.png">
<img class="emoji select" src="/static/img/emoji/1.png">
<img class="emoji" src="/static/img/emoji/2.png">
<img class="emoji" src="/static/img/emoji/3.png">
<img class="emoji" src="/static/img/emoji/4.png">
<img class="emoji" src="/static/img/emoji/5.png">
<img class="emoji" src="/static/img/emoji/6.png">
<img class="emoji" src="/static/img/emoji/7.png">
<img class="emoji" src="/static/img/emoji/8.png">
<img class="emoji" src="/static/img/emoji/9.png">
<img class="emoji" src="/static/img/emoji/10.png">
<img class="emoji" src="/static/img/emoji/11.png">
<img class="emoji" src="/static/img/emoji/12.png">
<img class="emoji" src="/static/img/emoji/13.png">
<img class="emoji" src="/static/img/emoji/14.png">
<img class="emoji" src="/static/img/emoji/15.png">
<img class="emoji" src="/static/img/emoji/16.png">
<img class="emoji" src="/static/img/emoji/17.png">
<img class="emoji" src="/static/img/emoji/18.png">
<img class="emoji" src="/static/img/emoji/19.png">
</div>

<div id="content">
<div id="background"></div>

<div id="photobooth">
<div id="camera-container">
	<div id="video"></div>
	<canvas id="image"></canvas>
	<div id="image-background"></div>
	<img id="emoji-example" src="/static/img/emoji/1.png">
</div>

<div id="status">
	<div id="countdown">
	<img id="count3" src="/static/img/3white.png">
	<img id="count2" src="/static/img/2white.png">
	<img id="count1" src="/static/img/1white.png">
	</div>
	
	<div id="camera">
	<img id="capture" src="/static/img/camera.png">
	</div>
	
	<div id="review">
	<img id="select" src="/static/img/yes.png">
	<img id="reject" src="/static/img/no.png">
	</div>

	<br class="clear">
</div>
</div>

<img id="add-photo" class="circle" src="/static/img/silhouette.png">

</div>

</div>

</body>
</html>