<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>me-moji</title>
	<script type="text/javascript" charset="utf-8" src="/static/js/lib/jquery-1.7.2.min.js">
	</script>
	<script type="text/javascript" src="/static/js/lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
	<script type="text/javascript" src="/static/js/memoji.js"></script>
	
	<script type="text/javascript" charset="utf-8">		
		/* Deal with IE not having console.log */
	    if (typeof console === "undefined" || typeof console.log === "undefined") {
	     console = {};
	     console.log = function() {};
	   }
	</script>
	
	<link rel="stylesheet" href="/static/css/memoji.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/static/js/lib/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>

</head>
<body id="index" onload="">
<div id="container">
</div>

</body>
</html>