<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>me-moji</title>
	<script type="text/javascript" charset="utf-8" src="/static/js/lib/jquery-1.7.2.min.js">
	</script>
	<script type="text/javascript" src="/static/js/lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
	
	<script type="text/javascript" charset="utf-8">		
		/* Deal with IE not having console.log */
	    if (typeof console === "undefined" || typeof console.log === "undefined") {
	     console = {};
	     console.log = function() {};
	   }

	   // from the server, prepopulate all the pieces we're going to need
	   var photos = {};

	   $(document).ready(function() {
	   // 		var faces = ["none", "smile", "blush", "wink", "hearts", "kiss", "flushed",
    // "relieved", "grin", "tongue", "unamused", "smirk", "pensive",
    // "confounded", "crying", "tears", "astonished", "scream", "pout", "cat"];

    		var facesIndex = {"smile":1, "wink":3, "hearts":4, "kiss":5, "flushed":6, "relieved":7, "grin":8, "tongue":9, "crying":14, "scream":17, "pout":18};

    		// launch requests to get photos for all of these.
    		_.each(facesIndex, function(value, key) {
    			$.ajax({
    				method: "GET",
    				dataType: "json",
    				url: "/photos/" + value
    			}).done(function(data) {
    				photos[key] = data;
    				// console.log("got photos for " + key + " : " + JSON.stringify(data));

    				console.log("photos.length: " + Object.keys(photos).length);
					if(Object.keys(photos).length==11) {
						console.log("done loading");

						_.each(photos, function(value, key) {
							$("#container").append($("<div class='face'><img src='"+value[0]+"'></div>"));
						});
					}
    			});
    		});
	   	});
	</script>
	
	<link rel="stylesheet" href="/static/css/memoji.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/static/js/lib/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>

</head>
<body id="index" onload="">
<div id="container">


</div>

</body>
</html>