body {
    font-family: Helvetica;
    margin: 0px;
    
    background-color: #ddd;
}

#container {
    /* Just for absolutely positioning things inside. */
    position: relative;
    
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    
    padding-bottom: 10px;
    
    background-color: white;
}

#gutter {
    background-color: #C3CDDD;
    
    width: 100%;
    height: 103px;
    
    background-image: url("/static/img/backgroundwshadow.png");
    background-position: left bottom;
}

#content {
    position: relative;
    
    width: 980px;
    
    padding: 10px;
}

.emoji {
    width: 44px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 45px;
    float: left;
    
    
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    
    cursor: pointer;
}

.emoji img {
    width: 100%;
    height: 100%;
}

.select {
    background-color: white;
    
    box-shadow: 0px -2px 10px -4px #000;
}

#logo {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 40px;
}

#about-button {
    position: fixed;
    
    right: 15px;
    bottom: 15px;
    
    cursor: pointer;
}

#about-button img {
    height: 44px;
}

#about-button img:hover {
    height: 49px;
}

#about-button:active {
    height: 49px;
    bottom: 10px;
}


.circle {
    width: 160px;
}

.emoji-container {
    position: relative;
    float: left;
    
    margin-right: 26px;
    height: 160px;
}

.emoji-container img {
    cursor: pointer;
}

.button {
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
    
    z-index: 50;
}

.close-button:hover {
    width: 34px;
}

.close-button:active {
    width: 34px;
    padding-top: 3px;
}

.photo-mask {
    position: absolute;
    top: -3px;
    left: -3px;
    
    width: 166px;
}

#add-photo {
    cursor: pointer;
    float: left;
    margin-right: 26px;
    
    border-radius: 80px;
    box-shadow: 0px 1px 3px #555;
}

#add-photo:hover {
    box-shadow: 0px 3px 6px #555;
}

#add-photo:active {
    box-shadow: inset 1px 1px 6px #555;
}


#background {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0.5;
    background-color: black;
}

#about {
    position: fixed;
    
    z-index: 15;
    
    width: 350px;
    height: 545px;
    
    top: 50%;
    left: 50%;
    
    margin-left: -200px;
    margin-top: -311px;
    
    box-shadow: 3px 3px 3px black;
    
    border: 1px solid #aaa;
}

#about img {
    width: 350px;
}

#about a {
    border: 0px;
}

#focus {
    position: fixed;
    z-index: 15;
    
    top: 50%;
    left: 50%;
    
    margin-left: -185px;
    margin-top: -185px;
    
    box-shadow: 3px 3px 3px black;
    width: 370px;
    height: 370px;
    padding: 10px;
    
    background-color: white;
    
    border: 1px solid #aaa;
}

#focus .emoji-photo {
    display: block;
    width: 330px;
    
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 10px;
}

#focus .photo-mask {
    width: 350px;
    position: absolute;
    
    top: 20px;
    left: 20px;
}

img.share {
    height: 44px;
    float: right;
    margin-left: 10px;
    cursor: pointer;
}

#focus-footer {
    margin-top: -40px;
}

ul {
    margin-left: 0px;
    padding-left: 0px;
}

li {
    list-style-type: none;
    margin-left: 0px;
}

li:nth-child(odd) {
    
}

li:nth-child(even) {
    margin-left: 90px;
}


/****************************************************************************/
/*                  PHOTOBOOTH STYLES                                       */
/****************************************************************************/


#photobooth {
    position: absolute;
    z-index: 11;
    overflow: hidden;
    
    top: 0px;
    left: 0px;
    
    width: 1000px;
    height: 0px;
    background-color: white;
    box-shadow: 0px 6px 10px -4px #000;
    border-bottom: 1px solid black;
}

#photobooth.show {
    
}

#status {
	width: 100%;
	background-color: #ED654A;
	padding: 10px;
	text-align: center;
	height: 100px;
}

#status span {
	color: white;
	font-size: 2em;
	font-weight: bold;
	margin-right: 10px;
	opacity: 1.0;
}

#capture {
	font-size: 2em;
	width: 70px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#capture:hover {
    width: 75px;
}

#capture:active {
    width: 75px;
    padding-top: 3px;
}


#flash {
	position:fixed;
	top:0px;
	left:0px;
	z-index:5000;
	width:100%;
	height:100%;
	background-color:#FFCB3A;
	display:none;
}

#review {
    margin-top: 20px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

#select, #reject {
	float: left;
    width: 60px;
}

#select:hover, #reject:hover {
    width: 65px;
}

#select:hover {
    margin-right: 15px;
}

#select:active, #reject:active {
    width: 65px;
    padding-top: 3px;
}


#select {
    margin-right: 20px;
}

#select:active {
    margin-right: 15px;
}

.clear {
	clear: both;
}

#camera-container {
	position: relative;
	
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	height: 240px;
}

#image {
	position: absolute;
	width: 240px;
	height: 240px;
	
	top: 0px;
	left: 40px;
	
	z-index: 50;
}

#image-background {
	position: absolute;
	top: 0px;
	left: 0px;
	
	background-color: white;
	width: 100%;
	height: 100%;
	z-index: 49;
}

#countdown img {
    height: 90px;
}

#count2, #count1 {
    margin-left: 50px;
}

#emoji-example {
    position: absolute;
    bottom: -25px;
    right: 35px;
    z-index: 51;
    
    width: 77px;
}

#mask {
    position: absolute;
    top: 0px;
    left: 0px;
    
    z-index: 50;
}

#session-photos {
    position: relative;
    
    background-image: url("/static/img/backgroundwshadow.png");
    background-position: left top;
    
    height: 50px;
    width: 100%;
}

#session-photos .emoji {
    float: none;
    position: absolute;
    top: -45px; /* Not totally sure why this isn't just 4px */
    opacity: 0.4;
}

.session-photo {
    width: 44px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    
    position: absolute;
    z-index: 10;
}

#session-photos .slot0 {
    left: 0px;
}

#session-photos .slot1 {
    left: 52px;
}

#session-photos .slot2 {
    left: 104px;
}

#session-photos .slot3 {
    left: 156px;
}

#session-photos .slot4 {
    left: 208px;
}

#session-photos .slot5 {
    left: 260px;
}

#session-photos .slot6 {
    left: 312px;
}

#session-photos .slot7 {
    left: 364px;
}

#session-photos .slot8 {
    left: 416px;
}

#session-photos .slot9 {
    left: 468px;
}

#session-photos .slot10 {
    left: 520px;
}

#session-photos .slot11 {
    left: 572px;
}

#session-photos .slot12 {
    left: 624px;
}

#session-photos .slot13 {
    left: 676px;
}

#session-photos .slot14 {
    left: 728px;
}

#session-photos .slot15 {
    left: 780px;
}

#session-photos .slot16 {
    left: 832px;
}

#session-photos .slot17 {
    left: 884px;
}

#session-photos .slot18 {
    left: 936px;
}

#session-photos .slot19 {
    left: 988px;
}

